{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [example]}
]}.

{plugins, [
           rebar3_path_deps,
           {rebar_elixir, {path, ".."}}
          ]
}.

{provider_hooks, [
                  {post, [
                          {compile, {elixir, compile}},
                          {compile, {elixir, consolidate_protocols}}
                         ]}
                 ]
}.
